<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 1039}}</string>
		<string>{{176, 0}, {1567, 1039}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>024B522D-0FFF-452E-89CB-7E1AEA3FC4E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0BB22C63-3C98-4ED7-8FE6-F240A4B51C99</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2756B0F8-71B9-4087-91A2-9B10AF6CAEE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E96743A-09BC-4965-B06F-29FC771EDC90</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36D3F5B6-2947-40D8-924A-2C46BA599772</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A7B6B53-69BC-4641-BB7A-4EBB07514EB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ED69811-463F-4272-9C63-ACE8B781E52D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65E99B32-F827-4BFC-BF8C-3F240F04542A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66C3E888-0974-403E-AF93-A6561B3A48B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A711D89-60B7-4F80-AB09-8F86D66FFC20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7701C88F-FA73-4A2F-A6CC-9E296D643578</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79BE56D9-2F6D-4694-9DE7-19D42D932DD2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F999A02-2CDC-47ED-BAC9-D097BAE482C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D463601-4B33-45EC-BE52-53AB2B1CBDFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6CDA89F-36F0-4A7C-ADCD-D5AE76674648</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2AD83FC-0CA4-422D-86B7-AC7EBF5BC6D1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC1C3613-203A-419D-A45F-3DC95B644158</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD51A406-F290-441B-9638-0D3AA905AA47</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D52E92BA-B4EE-48B2-BA9B-F1685209A160</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA96CB2F-F91B-4D18-9FDC-B98CED55569B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E0572D6B-8C0F-4B84-B134-82C9C44BFACF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7274429-0D30-4EC8-BCF7-18431424C82E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1202, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {349, 1029}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 953}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>46 36 1743 1061 0 0 1792 1097 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
